<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="/static/css/global.css">
		<link rel="stylesheet" href="/static/css/nav.css">
		<link rel="stylesheet" href="/static/css/profile.css">
	</head>
	<body>
		<div class="super">
			<div class="main">
				<div class="nav">
					<div class="brand"> 
						<div class="backIcon" onclick="history.back()">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
							</svg>
						</div>
						<!-- 
							<div class="dpDiv">
							<div></div>
							</div>

							<span>Anurag Shukla</span>
						--></div>
					<div class="icons">
						<div class="icon"></div>
						<div class="icon"></div>
						<div class="icon"></div>
					</div>
				</div>


				<div class="box">
					<div class="img mauto"></div>
					<div class="name fullw"> <h1 class='mauto'>{{fname}} {{lname}}</h1></div>
					<div class="username fullw"> <h3 class='mauto'>@{{user}}</h3></div>
					<div class="icons" >
						<div class="icon flx" onclick="(()=>{
											  location.href='/chat/{{user}}'
											  })()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
												  <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
											  </svg></div>
											  <div class="icon flx"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
													  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
												  </svg></div>
												  <div class="icon flx"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
														  <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
													  </svg></div>

					</div>
				</div>
				<div class="box">
					<div class="about fullw">
						<h2 class="fullw">About</h2>
						<p>
						Hey there! I'm not using whatsapp
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
