.super {
	justify-content: flex-start;
}
.main {
	min-height: calc(100vh - 65px);
	background-color: #ece5dd;
}
.brand {
	display: flex;
	justify-content: center;
	align-items:center ;
}
.tools {
	width: 100%;
	height: 62px;
	position: absolute;
	bottom: 5px;
	display: flex;
	padding:5px;
	position:sticky ;
	bottom:0 ;
	background-color: #ece5dd;
}
.inp {
	width: calc(100% - 50px);
	height: 50px;
	border-radius:200vmax ;
	flex-direction: row;
	background-color: #fff;
	overflow: hidden;
}
.send {
	height: 50px;
	width: 50px;
}
.send > .icons{
	width: 100%;
	height: 100%;

}
 .icon{
	height: 50px;
	width: 50px;
	padding:0 5px 0 0px;
	border-radius: 50%;
	background-color: #128c7e;
}
.send svg{
	height: 50%;
	width: 50%;
	transform: rotate(45deg);
}
.inp input {
	width: 100%;
	background-color:#fff;
	color: #000;
}
input {
	height: 50px;
	width: min(80% , 500px);
	font-size: 1.05rem;
	outline: none;
	border: none;
	width: auto;
	padding-right: 10px;
	color:#000;
}
.inp .icon {
	background-color: transparent;
}
.inp svg {
	fill: #666;	
	width: 50%;
	height: 50%;
	animation: jump 1s linear infinite;
}
@keyframes rotate{
	100%{
		transform: rotate(360deg);
	}
}
@keyframes jump{
	25%{
		transform:translateY(2px) rotateX(30deg);
	}
	75%{
		transform: translateY(-2px) rotateX(20deg);
	}
}
.body {
	display: block;
	width: 100%;
	height: calc(100% - 65px);
}
.chats {
	display: flex;
	width: 100%;
	flex-direction:column;
	overflow:scroll ;
	height: 100%;
}
.chats * {
	color: initial;
}
.msgDiv {
	display: inline-block;
	min-width: 100px;
	max-width: 80%;
	padding: 5px 10px;
	background-color:#dcf8c6;
	height: auto;
	margin-top: 10px;
	border-radius:6px;
	padding:6px;
}
.msg {
	font-size: 1rem;
	color: #000;
	word-wrap: break-word;
	overflow: hidden;
}
.left {
	margin:4px auto auto 5px;
}
.right {
	margin:4px 5px auto auto;
}
.time {
	height: 16px;
	font-size:0.8rem;
	width: 100%;
	text-align: right;
	margin-top: 4px;
	color:#333;
}

