.super {
	justify-content: flex-start;
}

.main {
	width: 100%;
	border-radius: 0;
	min-height: calc(100vh - 60px);
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
