* {
	color: #000;
}
.super {
	justify-content: flex-start;
}
.main {
	background-color:#ece5dd;
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.searchBar {
	min-height: 60px;
	background-color:;
	margin-top: 30px;
}
.searchBar > input {
	width: 90%;
	height: 60px;
	border-radius: 200vmax;
	background-color: #128c7e;
	border: none;
	padding-left: 10px;
	font-size: 1.2rem;
}
input::-webkit-input-placeholder {
	color: #ababab;
}
.searchBtn {
	min-height: 40px;
	width: auto;
	padding:10px 20px;
	margin-top: 20px;
	background-color: #f00;
	border-radius: 200vmax;	
	font-size: 1.4rem;
}
.heading {
	padding-left: 15px;
}
.heading> h2 ,.heading > h1{
	text-align: left;
	font-weight: 500;
	font-size: 1.3rem;
}
.heading > h1 {
	font-size: 1.5rem;
}

