.main {
	width: min(720px , 80vw);
	display: flex;
	justify-content: center;
	align-items:center ;
	flex-direction: column;
	border-radius: 20px;
	font-size: 1.2rem;
	background-color:#2b2b2b;
	min-height:min(600px,80vh);
	position: relative;
}

.inpSuper,input {
	height: 60px;
	width: min(80% , 500px);
	font-size: 1.25rem;
	border: 0px solid #fff ;
	border-radius: 30px;
	outline: none;
	background-color:#2f2f2f;
}

.inpSuper {
	margin-top: 40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
input {
	width: auto;
	padding-left: 10px;
}
 button {
	min-width: 150px;
	height: 50px;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 30px;
	background-color:aquamarine;
	border-radius: 25px;
	border: none;
	color: #2f2f2f;
}
.heading {
	width: 100%;
	text-align:center ;
	margin-bottom:50px ;
}
.heading > h1 {
	font-size: 2.5rem;
}

.otherLink {
	height: 50px;
	text-align:center ;
	display: flex;
	justify-content: center;
	align-items:center ;
	font-size: 1.1rem;
	margin-top: 30px;
}
.otherLink > a {
	text-decoration: none;
}

.icon {
	height:50%;
	width: auto;
}
svg {
	width: 100%;
	height: 100%;
}

.error {
	border: 2px solid red;
	width: 80%;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
	font-weight: 300;
	display:none ;
	color: red;
}

.nav {
	width: 100%;
	min-height: 60px;
	background-color: #ababab;
	display: flex;
	justify-content:space-between;
	position: sticky;
	top:0 ;
	z-index: 5;
}
.nav > .icons {
	display: flex;
	height: 100%;
	padding-top:5px ;

}
.nav .icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	background-color:#2f2f2f;
}
.nav > .brand {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.brand > span {
	padding-left: 20px;
	padding-right:20px ;
	color: #2f2f2f;
}

.list {
	width: 100%;
	padding-bottom: 50px;
}

.list > .item {
	width: 100%;
	height: 70px;
	background-color:#2b2b2b ;
	display: flex;
	flex-wrap: nowrap;
	padding: 5px;
	margin-top:10px ;
}
.dpDiv {
	height: 100%;
	width: 60px;
}
.midInfo {
	width: calc(100% - 60px);
	height: 100%;
	padding: 5px;
	padding-left: 10px;
}
.utils {
	height: 100%;
	width: 40px;
	background-color: red;
}
.dpDiv > div {
	height: 100%;
	width: 100%;
	border-radius:50% ;
	background-color: beige;
}
.midInfo>.name {
	display: flex;
	justify-content: space-between;
	height: 50%;
	align-items:center ;
}
.midInfo > .desc {
	height: 50%;
	font-size:0.9rem ;
	display: flex;
	flex-direction: column;
	justify-content:center ;
}
.desc > span,.name > span.nameSpan {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}
span.date {
	font-size: 0.7rem;
	padding-right: 5px;
}
